<ul class="dropdown-menu">
    <li class="dropdown-searchbox" ng-if="::search">
        <input type="text" class="form-control" placeholder="{{ dropdownSelectionCtrl.options.searchPlaceholder }}" ng-model="dropdownSelectionCtrl.searchTerm.title" ng-model-options="{debounce: 300}" autocomplete="off">
    </li>

    <li ng-repeat="item in items | filter:dropdownSelectionCtrl.searchFilter" ng-class="{'dropdown-group': item.children.length, open: item.$$openned}">
        <a href="javascript:angular.noop()" ng-click="dropdownSelectionCtrl.selectItem(item); $event.stopPropagation()">
            <span class="dropdown-group icon" ng-click="dropdownSelectionCtrl.openItem(item); $event.stopPropagation()"></span>
            <input type="checkbox" ng-click="dropdownSelectionCtrl.selectItem(item); $event.stopPropagation()" ng-if="dropdownSelectionCtrl.options.multiple" ng-checked="dropdownSelectionCtrl.contains(item)">
            <span class="glyphicon glyphicon-ok check-mark" ng-if="!dropdownSelectionCtrl.options.multiple && dropdownSelectionCtrl.contains(item)"></span>
            <span class="dropdown-title" ng-bind-html="(item.$$isObject ? item.title : item) || dropdownSelectionCtrl.options.placeholder | dropdownHighlight:dropdownSelectionCtrl.searchTerm.title"></span><!--{{ dropdownSelectionCtrl.options.filter ? dropdownSelectionCtrl.options.filter : 'noop' }}-->
        </a>
        <dropdown-menu ng-if="item.$$openned" class="dropdown-group" parent="item" items="item.children"></dropdown-menu>
    </li>
</ul>