<ul id="dropdownSelectionMenu" class="dropdown-menu">
    <li ng-repeat="item in items" ng-init="dropdownSelectionCtrl.initItem(item, parent)" ng-click="dropdownSelectionCtrl.selectItem(item); $event.stopPropagation();" ng-class="{group: item.children.length, open: item.$$openned}">
        <a href="#">
            <span class="group icon" ng-click="dropdownSelectionCtrl.openItem(item); $event.stopPropagation();"></span>
            <input type="checkbox" ng-checked="dropdownSelectionCtrl.selectedItems.indexOf(item) != -1">
            {{ item.title }}
        </a>
        <dropdown-menu class="group" parent="item" items="item.children"></dropdown-menu>
    </li>
</ul>