<!DOCTYPE html>
<html lang="en" ng-app="angular-select-bootstrap-demo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Angular Select Bootstrap</title>
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select/dist/angular-select-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/angular-select-bootstrap-demo.css">
</head>
<body ng-controller="DemoCtrl as ctrl">
    
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">Default multiple selection</div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                          <div class="form-group">
                              <label class="col-md-4 control-label">Field</label>
                              <div class="col-md-3">
                                  <dropdown-selection ng-model="ctrl.value" items="ctrl.items"></dropdown-selection>
                              </div>
                          </div>
                      </form>
                      <br>
                      <div class="well">model: {{ ctrl.value | json }}</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">Multiple choice disabled</div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-4 control-label">Field</label>
                          <div class="col-md-3">
                              <dropdown-selection ng-model="ctrl.value3" items="ctrl.items" options="{multiple: false}"></dropdown-selection>
                          </div>
                      </div>
                  </form>
                   <br>
                      <div class="well">model: {{ ctrl.value3 | json }}</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">Close on select</div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-4 control-label">Field</label>
                          <div class="col-md-3">
                              <dropdown-selection ng-model="ctrl.value6" items="ctrl.items" options="{multiple: false, selectClose: true}"></dropdown-selection>
                          </div>
                      </div>
                  </form>
                   <br>
                      <div class="well">model: {{ ctrl.value6 | json }}</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">Clear selected value</div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-4 control-label">Field</label>
                          <div class="col-md-3">
                              <dropdown-selection ng-model="ctrl.value7" items="ctrl.items" options="{multiple: false, selectClose: true}"></dropdown-selection>
                              <br>
                              <button class="btn" ng-click="ctrl.value7 = null">Clear</button>
                          </div>
                      </div>
                  </form>
                   <br>
                      <div class="well">model: {{ ctrl.value7 | json }}</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">Add new item and select</div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-4 control-label">Field</label>
                          <div class="col-md-3">
                              <dropdown-selection ng-model="ctrl.value8" items="ctrl.items" options="{multiple: false, selectClose: true}"></dropdown-selection>
                              <br>
                              <button class="btn" ng-click="ctrl.addNewItemAndSelect()">Add</button>
                          </div>
                      </div>
                  </form>
                   <br>
                      <div class="well">model: {{ ctrl.value8 | json }}</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">Remove selected item</div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-4 control-label">Field</label>
                          <div class="col-md-3">
                              <dropdown-selection ng-model="ctrl.value9" items="ctrl.items" options="{multiple: false, selectClose: true}"></dropdown-selection>
                              <br>
                              <button class="btn" ng-disabled="!ctrl.value9" ng-click="ctrl.removeSelected()">Remove</button>
                          </div>
                      </div>
                  </form>
                   <br>
                      <div class="well">model: {{ ctrl.value9 | json }}</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading">Choice with editable label</div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-4 control-label">Field</label>
                          <div class="col-md-3">
                              <dropdown-selection ng-model="ctrl.value4" items="ctrl.items" options="{editable: true}"></dropdown-selection>
                          </div>
                      </div>
                  </form>
                   <br>
                      <div class="well">model: {{ ctrl.value4 | json }}</div>
                  </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">Multiple choice with viewing limit</div>
                  <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Field</label>
                            <div class="col-md-3">
                                <dropdown-selection ng-model="ctrl.value5" items="ctrl.items2" options="{maxTerm: 'Selecionados...', maxShow: 2, 'idProperty': 'easyId'}"></dropdown-selection>
                            </div>
                        </div>
                    </form>
                    <br>
                      <div class="well">model: {{ ctrl.value5 | json }}</div>
                  </div>
                </div>
            </div>
        </div>
    </div>

<script src="/assets/js/vendor.js"></script>
<script src="/assets/vendor/select/dist/angular-select-bootstrap.js"></script>
<script src="/assets/js/angular-select-bootstrap-demo.js"></script>
</body>
</html>